<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE"/>

<title>Title</title>

<link rel="stylesheet" type="text/css" href="#{path.module}/imboard/css/imboard-ui.css" />

<script src="#{path.lib}/jquery/jquery-1.10.2.js"></script>
<script src="#{path.lib}/handlebars/handlebars-v1.3.0.js"></script>

<script src="#{path.module}/imboard/js/imboard-api.js"></script>
<script src="#{path.module}/imboard/js/imboard-ui.js"></script>
<script src="#{path.module}/imboard/js/handlebars-helper.js"></script>

<script id="test" type="text/template">
{{#if testList}}
{{#each testList}}
<a>{{value}}</a>
{{/each}}
{{/if}}
<div data-bind="test" data-param='{"test2" : "abc2"}' data-template="#test2"></div>
</script>

</head>

<body>
	<script id="test2" type="text/template">
{{#if testList}}
{{#each testList}}
	<p>{{value}}</p>
{{/each}}
{{/if}}
</script>
	{{#if test}}
	<p>Yaho</p>
	{{else}}
	<p>Go out!</p>
	{{/if}}
	<div data-bind="test" data-param='{"test" : "abc"}' data-template="#test"></div>
	<div data-bind="test" data-param='{"test" : "abc"}' data-template="#test"></div>
</body>

</html>